In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import os

In [3]:
classes = pd.read_csv('Data/elliptic_bitcoin_dataset/elliptic_txs_classes.csv')
edgelist = pd.read_csv('Data/elliptic_bitcoin_dataset/elliptic_txs_edgelist.csv')

In [4]:
features = pd.read_csv('Data/elliptic_bitcoin_dataset/elliptic_txs_features.csv', header=None)

In [5]:
classesorg = classes[(classes['class'] == '1') | (classes['class'] == '2')]

In [6]:
classesorg

             txId class
3       232438397     2
9       232029206     2
10      232344069     2
11       27553029     2
16        3881097     2
...           ...   ...
203752   80329479     2
203754  158406298     2
203759  158375075     1
203763  147478192     2
203766  158375402     1

[46564 rows x 2 columns]

In [15]:
dataset = pd.merge(classesorg,features,how='inner',left_on='txId',right_on=0)

In [17]:
dataset = dataset.drop(columns=0)

In [1]:
dataset

NameError: name 'dataset' is not defined

,txId,1,2,3,4,5,6,7,8,9,...,157,158,159,160,161,162,163,164,165,166
count,4.656400e+04,46564.000000,46564.000000,46564.000000,46564.000000,46564.000000,46564.000000,46564.000000,46564.000000,46564.000000,...,46564.000000,46564.000000,46564.000000,46564.000000,46564.000000,46564.000000,46564.000000,46564.000000,46564.000000,46564.000000
mean,1.745082e+08,24.599046,-0.052645,0.159103,0.148974,0.172216,0.028651,0.184429,-0.015381,-0.077488,...,-0.054622,-0.021395,0.088977,0.088828,-0.010401,0.057301,0.076348,0.045520,-0.037397,-0.037899
std,1.111707e+08,15.158091,0.702554,1.544040,1.063158,1.600931,1.729706,1.589399,0.577378,0.588778,...,0.916098,0.956718,0.978313,0.979057,0.511929,1.729502,1.764513,1.065455,0.998764,0.998087
min,2.534000e+03,1.000000,-0.172982,-0.210553,-1.756361,-0.121970,-0.063725,-0.113002,-0.061584,-0.163646,...,-0.577099,-0.626229,-0.979074,-0.978556,-0.216057,-0.125939,-0.131155,-0.269818,-1.760926,-1.760984
25%,8.656573e+07,10.000000,-0.172683,-0.162140,-1.201369,-0.121970,-0.043875,-0.113002,-0.061584,-0.163614,...,-0.569626,-0.588384,-0.979074,-0.978556,-0.098889,-0.087490,-0.131155,-0.140597,-0.120613,-0.119792
50%,1.637240e+08,24.000000,-0.170652,-0.113851,0.463609,-0.121970,-0.043875,-0.113002,-0.061584,-0.163383,...,-0.487424,-0.443313,0.241128,0.241406,0.018279,-0.087490,-0.131155,-0.097524,-0.120613,-0.119792
75%,2.463727e+08,39.000000,-0.141446,0.016948,1.018602,0.028105,-0.043875,-0.029140,-0.061584,-0.158465,...,0.131350,0.105434,1.461330,1.461369,0.018279,-0.068266,-0.084674,-0.083166,0.139080,0.110398
max,4.031232e+08,49.000000,39.786756,73.595052,2.683580,49.027598,260.090707,54.565178,44.365651,40.721063,...,4.474613,7.888811,1.461330,1.461369,58.485180,251.849028,238.783493,86.778382,1.519700,1.521399

In [23]:
os.getcwd()

'/Users/sohaib/Data_Bootcamp/FinalProject'

In [24]:
os.chdir('/Users/sohaib/Data_Bootcamp/FinalProject/Data')

In [25]:
pd.DataFrame.to_csv(classesorg,'cleaned_classes.csv')

In [26]:
pd.DataFrame.to_csv(dataset,'dataset.csv')